* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: auto;
    position: relative;
}

body>* {
    z-index: 1;
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(11, 10, 29, 0.8);
    z-index: 0;
}

#lottie-register {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.form-container {
    width: 40%;
    max-width: 500px;
    height: auto;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 2% 8%;
    border-radius: 20px;
    background-color: rgba(20, 20, 30, 0.6);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    animation: showForm 2s ease-in-out forwards;
    overflow-y: auto;
    max-height: 95vh;
    overflow: hidden;
}


@keyframes showForm {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #ffffff;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.title::after {
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 1);
}

.signin {
    text-align: center;
    margin-top: 2%;
}

.signin a {
    color: #00bfff;
}

.signin a:hover {
    text-decoration: underline royalblue;
}


.flex {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex label {
    flex: 1;
    min-width: 120px;
}


.form label {
    position: relative;
    width: 100%;
}

.form label .input {
    background-color: #ffffff00;
    color: #ffffff;
    width: 100%;
    padding: 9px;
    outline: 0;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
}

.form label .input+span {
    color: rgba(255, 255, 255, 0.632);
    position: absolute;
    left: 10px;
    font-size: 12px;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 10px;
    font-size: 12px;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: #9f9f9f;
    top: 0px;
    font-size: 12px;
    font-weight: 600;
}

.input {
    font-size: medium;
}

select.input {
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
}

select.input option {
    background-color: #ffffff;
    color: #000000;
}

#btnCadastrar {
    margin-top: 5%;
}

.button {
    --main-size: 1.3em;
    align-self: center;
    max-width: 230px;
    --color-text: #ffffff;
    --color-background: rgba(0, 234, 255, 0.5);
    --color-background-hover: #004b52;
    --color-outline: #ffffffd2;
    --color-shadow: #00000040;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: calc(var(--main-size) * 100);
    padding: 0.33em 0 0.33em 0.66em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: var(--main-size);
    color: var(--color-text);
    background: var(--color-background);
    box-shadow: 0 0 0.2em 0 var(--color-background);
    transition: 1s;
}

.button:active {
    transform: scale(0.95);
}

.button:hover {
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 1em 0 var(--color-background);
    animation:
        ripple 1s linear infinite,
        colorize 1s infinite;
    transition: 0.5s;
}

.button span {
    margin-right: 0.3em;
    transition: 0.5s;
}

.button:hover span {
    text-shadow: 5px 5px 5px var(--color-shadow);
}

.button:active span {
    text-shadow: none;
}

.button svg {
    height: 0.8em;
    fill: var(--color-text);
    margin-right: -0.16em;
    position: relative;
    transition: 0.5s;
}

.button:hover svg {
    margin-right: 0.66em;
    transition: 0.5s;
    filter: drop-shadow(5px 5px 2.5px var(--color-shadow));
}

.button:active svg {
    filter: none;
}

.button svg polygon:nth-child(1) {
    transition: 0.4s;
    transform: translateX(-60%);
}

.button svg polygon:nth-child(2) {
    transition: 0.5s;
    transform: translateX(-30%);
}

.button:hover svg polygon:nth-child(1) {
    transform: translateX(0%);
    animation: opacity 1s infinite 0.6s;
}

.button:hover svg polygon:nth-child(2) {
    transform: translateX(0%);
    animation: opacity 1s infinite 0.4s;
}

.button:hover svg polygon:nth-child(3) {
    animation: opacity 1s infinite 0.2s;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes colorize {
    0% {
        background: var(--color-background);
    }

    50% {
        background: var(--color-background-hover);
    }

    100% {
        background: var(--color-background);
    }
}

@keyframes ripple {
    0% {
        outline: 0em solid transparent;
        outline-offset: -0.1em;
    }

    50% {
        outline: 0.2em solid var(--color-outline);
        outline-offset: 0.2em;
    }

    100% {
        outline: 0.4em solid transparent;
        outline-offset: 0.4em;
    }
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        height: auto;
    }
}

input[type="date"] {
    position: relative;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    padding-right: 40px;
    outline: none;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="date"]::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M7 10h5v5H7z'/%3E%3Cpath d='M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z'/%3E%3C/svg%3E") no-repeat center;
    background-size: 20px;
}