* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: white;
    overflow: hidden;
}

.main-body {
    width: 100%;
    height: 100%;
    display: flex;
}

.body1 {
    width: 50%;
    height: 100%;
    background: white;
    display: grid;
    place-items: center;
}

.content1 {
    max-width: 90%;
    max-height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1 h1 {
    color: #04001e;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.content1 img {
    max-width: 130%;
    max-height: 130%;
    background: red;
    margin-left: 30%;
}

.content1 h3 {
    text-align: center;
    color: #04001e;
    width: 60%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.body2 {
    width: 70%;
    height: 140vh;
    background-image: url("../css/images/fundoLogin.png");
    border-top-left-radius: 80%;
    border-bottom-left-radius: 80%;
    position: relative;
    margin-top: -20vh;
    margin-left: 10%;
    display: flex;
}

.body2 .logo {
    position: absolute;
    top: 15%;
    left: 32%;
    transform: translateX(10%);
    max-width: 30%;
    z-index: 10;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 100%;
    padding: 40px;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    border: none;
}

.input-group {
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-top: 10px;
}

.input-group .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    flex-shrink: 0;
}

.input-group input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    height: 30px;
}

::placeholder {
    color: #bbb;
}

.forgot-password {
    align-self: flex-end;
    color: #049ed0;
    text-decoration: none;
    font-size: 16px;
    margin: 1% 10%;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color: #FFF;
    text-decoration: underline;
}

.login {
    width: 60%;
    padding: 15px;
    background: #049ed0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 11%;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.login:hover {
    background: #0d7da1;
}

.register {
    width: 60%;
    padding: 15px;
    background: #808080;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 3%;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.register:hover {
    background: #575757;
}